* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Libre Franklin", sans-serif;
}

.container {
  padding: 6em 2em;
  text-align: center;
}

.launching {
  margin: 3em auto;
}

.launching h1 {
  color: hsl(0, 0%, 59%);
  font-weight: 300;
}

.launching span {
  color: hsl(209, 33%, 12%);
  font-weight: 700;
}

.launching p {
  color: hsl(209, 33%, 12%);
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  width: 90%;
  max-width: 500px;
  margin: 0.5em auto;
}

#input {
  width: 100%;
  padding: 15px 25px;
  border-radius: 40px;
  border: 1px solid rgb(194, 211, 255);
  color: rgb(1, 13, 43);
}

.error {
  display: none;
  text-align: start;
  margin-left: 30px;
  color: hsl(354, 100%, 66%);
  font-size: 12px;
}

.search input::placeholder {
  color: hsl(256, 93%, 12%);
}

.btn {
  width: 90%;
  max-width: 500px;
  margin: 0.5em auto;
}

#btn {
  border: solid hsl(223, 87%, 63%);
  text-decoration: none;
  color: rgb(233, 233, 233);
  background-color: hsl(223, 87%, 63%);
  padding: 15px;
  width: 100%;
  max-width: 500px;
  border-radius: 40px;
  margin: 0.5em auto;
  font-weight: 700;
  box-shadow: 2px 2px 10px -2px hsl(223, 87%, 63%);
  cursor: pointer;
}

.error-1 {
  display: block;
}

.error-2 {
  border: 1px solid hsl(354, 100%, 66%);
}

.body-img {
  margin: 3em auto;
}

.body-img img {
  width: 100%;
  max-width: 550px;
}

.fa {
  color: hsl(223, 87%, 63%);
  font-size: 16px;
  padding: 10px;
  border: 1px solid rgb(194, 211, 255);
  border-radius: 50px;
  margin: 5px;
}

.fa:hover {
  cursor: pointer;
  color: rgb(231, 228, 228);
  background-color: hsl(223, 87%, 63%);
}

.fa-facebook-f {
  padding: 10px 14px;
}

.copy {
  font-size: 12px;
  color: hsl(0, 0%, 59%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 720px) {
  body {
    font-size: 20px;
  }

  #form {
    flex-direction: row;
    width: 550px;
    justify-content: center;
    margin: auto;
  }

  .input-box {
    width: 65%;
  }

  .search input {
    padding: 20px 30px;
  }

  .btn {
    width: 30%;
    font-weight: 400;
    font-size: 16px;
    align-self: flex-start;
  }

  #error {
    font-size: 12px;
  }
}
